* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  outline: 0;
  color: rgb(255, 255, 255);
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  width: 100%;
  margin-bottom: 20vh;
}

.containerCd {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.2s ease-in-out;
}
.containerCd .containerCdBackGround {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 77vh;
  top: 0;
  height: 100%;
}
.containerCd .containerCdBackGround .fa-chevron-down, .containerCd .containerCdBackGround .fa-chevron-up {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 1rem;
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgb(0, 255, 255) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
.containerCd .containerCdBackGround .fa-chevron-up {
  display: none;
}
.containerCd .containerCdBackGround .image {
  display: none;
}
.containerCd .containerCdBackGround .containerControls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: -10rem;
}
.containerCd .containerCdBackGround .containerControls .controlsItens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.containerCd .containerCdBackGround .containerControls .controlsItens i {
  font-size: 3rem;
}
.containerCd .containerCdBackGround::after {
  content: "";
  height: 77.5vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.593);
  top: 0;
  left: 0;
  position: absolute;
}
.containerCd .containerMusics {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 10rem;
  z-index: 100;
}
.containerCd .containerMusics .section {
  background-color: #282828;
  width: 98%;
  transition: scale 0.2s;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
  height: 9rem;
  align-items: center;
}
.containerCd .containerMusics .section .capa {
  width: 10rem;
  top: 0;
  left: 0;
  justify-content: left;
}
.containerCd .containerMusics .section .div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 0.8rem;
}
.containerCd .containerMusics .section .div .h2 {
  font-size: 2rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: left;
}
.containerCd .containerMusics .section .div .singer {
  font-size: 1.2rem;
  font-weight: 100;
}
.containerCd .containerMusics .section .div2 {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  background-color: #282828;
}
.containerCd .containerMusics .section .div2 i {
  font-size: 2.5rem;
  margin-left: 0.8rem;
}
.containerCd .containerMusics .section:active {
  scale: 0.98;
}
.containerCd .containerMusics .section:focus {
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgb(0, 255, 255) 0%, rgb(0, 0, 0) 100%);
}

.close {
  top: 85vh;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10000;
  background-color: #121212;
  overflow: hidden;
}
.close .containerCdBackGround {
  height: 10rem;
  overflow: none;
  padding: 0;
}
.close .containerCdBackGround .image {
  display: flex;
  position: absolute;
  margin-left: 2rem;
  width: 8rem;
}
.close .containerCdBackGround .image .img {
  width: 100%;
  border-radius: 50%;
  -webkit-animation: tocar 11110s infinite;
          animation: tocar 11110s infinite;
}
.close .containerCdBackGround .fa-chevron-down {
  display: none;
}
.close .containerCdBackGround .fa-chevron-up {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.close .containerCdBackGround .containerControls {
  display: none;
}
.close .containerCdBackGround::after {
  display: none;
}
.close .containerMusics {
  display: none;
}

@-webkit-keyframes tocar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3585660deg);
  }
}

@keyframes tocar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3585660deg);
  }
}
.sumir {
  display: none;
}

.navbar {
  width: 100vw;
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgb(0, 255, 255) 0%, rgb(0, 0, 0) 100%);
  position: fixed;
  bottom: 0;
  z-index: 10000000000;
}
.navbar .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.navbar .items .item-link {
  width: 25%;
}
.navbar .items .item-link li {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(170, 170, 170);
}
.navbar .items .item-link li i {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  color: rgb(170, 170, 170);
}
.navbar .items .item-link .active {
  color: #ffffff;
}

.search {
  background-color: #121212;
  width: 100vw;
  padding: 1rem;
  overflow-y: scroll;
  position: fixed;
  z-index: 10000;
  display: none;
  top: 0;
  height: 100%;
  left: 0;
}
.search .h1 {
  font-size: 3rem;
  margin: 1.5rem 0;
}
.search h2 {
  font-size: 1.8rem;
  margin: 2.5rem 0;
}
.search .pesquisa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin-bottom: 1rem;
}
.search .pesquisa input {
  width: 100%;
  padding: 1.3rem 0.5rem;
  text-indent: 4rem;
  font-size: 2rem;
  font-weight: bold;
  color: #282828;
  border: none;
  border-radius: 0.2rem;
}
.search .pesquisa i {
  color: gray;
  font-size: 3rem;
  left: -0.5rem;
  position: absolute;
  padding: 1rem;
}
.search .secoes {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 12rem;
}
.search .secoes img {
  border-radius: 1rem;
  width: 100%;
  padding: 0.3rem;
}

.on {
  display: block;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}
.title .h1 {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.title .figure {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
.title .figure i {
  font-size: 2rem;
  margin-left: 1rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .styleContainer {
  width: 100%;
}
.container .styleContainer .style {
  padding: 10px;
  font-size: 2rem;
}
.container .collection {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 1rem;
  position: relative;
  overflow-y: hidden;
  padding: 0.5rem 0;
}
.container .collection .cdPai {
  margin-right: 0.7rem;
  height: 100%;
  border-radius: 5px;
  background-color: #282828;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.301);
}
.container .collection .cdPai .cd {
  width: 13rem;
  padding: 0.3rem;
  height: 22rem;
}
.container .collection .cdPai .cd .image {
  width: 100%;
}
.container .collection .cdPai .cd .paiSinger .singer {
  text-align: center;
  font-size: 1.3rem;
}
.container .collection .cdPai .cd .paiSinger .play {
  border: 1px solid;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0.2rem 0 0.8rem 0;
  text-align: center;
  border-radius: 0.2rem;
  color: aliceblue;
  cursor: pointer;
}
.container .collection .cdPai .cd .paiSinger .play:hover {
  opacity: 0.5;
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgb(0, 255, 255) 0%, rgb(0, 0, 0) 100%);
  cursor: pointer;
}
.container .collection .cdPai .cd .paiSinger .play:active {
  transform: scale(0.98);
}
.container .collection .cdPai .cd .paiSinger .musics {
  display: none;
}
.container .collection::-webkit-scrollbar {
  width: 0;
}/*# sourceMappingURL=main.css.map */