$backGroundColor: #121212;
$backGroundColorCd: #282828;
$backGroundColorArrow: rgba(255, 255, 255, 0.253);
$backGroundColorArrowHover: #fff;
$borderColorCd: rgba(255, 255, 255, 0.301);
$textColor: rgb(255, 255, 255);
$textColorArrow: rgba(255, 255, 255, 0.253);
$textColorArrowHover: black;