.containerCd {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.2s ease-in-out;
}
.containerCd .containerCdBackGround {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100vh;
  top: 0;
  height: 100%;
}
.containerCd .containerCdBackGround .fa-chevron-down, .containerCd .containerCdBackGround .fa-chevron-up {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 1rem;
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgba(0, 253, 255, 0.5) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
.containerCd .containerCdBackGround .fa-chevron-up {
  display: none;
}
.containerCd .containerCdBackGround .image {
  display: none;
}
.containerCd .containerCdBackGround .containerControls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-top: -20rem;
}
.containerCd .containerCdBackGround .containerControls .controlsItens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.containerCd .containerCdBackGround .containerControls .controlsItens i {
  font-size: 3rem;
}
.containerCd .containerCdBackGround::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.593);
  top: 0;
  left: 0;
  position: absolute;
}
.containerCd .containerMusics {
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 10rem;
}
.containerCd .containerMusics .button {
  width: 90%;
  margin: 0.3rem auto;
  padding: 2rem 0 2rem 1rem;
  color: rgb(255, 255, 255);
  text-align: left;
  border: none;
  background-color: #282828;
  font-size: 1.5rem;
  transition: scale 0.2s;
  border-radius: 0.3rem;
}
.containerCd .containerMusics .button:active {
  scale: 0.98;
}
.containerCd .containerMusics .button:focus {
  background: rgb(0, 255, 255);
  background: linear-gradient(180deg, rgba(0, 253, 255, 0.5) 0%, rgb(0, 0, 0) 100%);
}

.close {
  top: 85vh;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 10000;
  background-color: #121212;
  overflow: hidden;
}
.close .containerCdBackGround {
  height: 10rem;
  overflow: none;
  padding: 0;
}
.close .containerCdBackGround .image {
  display: flex;
  position: absolute;
  margin-left: 2rem;
  width: 8rem;
}
.close .containerCdBackGround .image .img {
  width: 100%;
  border-radius: 50%;
  -webkit-animation: tocar 11110s infinite;
          animation: tocar 11110s infinite;
}
.close .containerCdBackGround .fa-chevron-down {
  display: none;
}
.close .containerCdBackGround .fa-chevron-up {
  display: flex;
  position: absolute;
  right: 0;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
.close .containerCdBackGround .containerControls {
  display: none;
}
.close .containerCdBackGround::after {
  display: none;
}
.close .containerMusics {
  display: none;
}
@-webkit-keyframes tocar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3585660deg);
  }
}
@keyframes tocar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3585660deg);
  }
}
.sumir {
  display: none;
}/*# sourceMappingURL=containerCd.css.map */