*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    outline: 0;
    color: $textColor;
    li{
        list-style: none;
    }  
    
    a{
        text-decoration: none;
    }
}
html{
    font-size: 62.5%;
}
body{
    background-color: $backGroundColor;
    width: 100%;
    margin-bottom: 20vh;
}