.containerCd{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.2s ease-in-out;
    .containerCdBackGround{
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 77vh;
        top: 0;
        height: 100%;
        // z-index: 10000;
        .fa-chevron-down, .fa-chevron-up{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 3rem;
            padding: 1rem;
            @include backgroundColorGradiente;
            z-index: 1;
        }
        .fa-chevron-up{
            display: none;
        }
        .image{
            display: none;
        }
        .containerControls{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 1;
            margin-top: -10rem;
            .controlsItens{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                width: 50%;
                i{
                    font-size: 3rem;
                }
            }
        }
    }
    .containerCdBackGround::after{
        content: '';
        height: 77.5vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.593);
        top: 0;
        left: 0;
        position: absolute;
    }
    .containerMusics{
        background-color: $backGroundColor;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 10rem;
        z-index: 100;
        .section{
            background-color: $backGroundColorCd;
            width: 98%;
            transition: scale 0.2s;
            border-radius: 1rem;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            margin-bottom: 0.5rem;
            position: relative;
            height: 9rem;
            align-items: center;
            .capa{
                width: 10rem;
                top: 0;
                left: 0; 
                justify-content: left;
            }
            .div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                padding: 0 0 0 .8rem;
                .h2{
                    font-size: 2rem;
                    font-weight: 100;
                    color: rgb(255, 255, 255);
                    text-align: left;
                }
                .singer{
                    font-size: 1.2rem;
                    font-weight: 100;
                }
            }
            .div2{
                display: flex;
                flex-direction: row;
                padding-right: 1rem;
                height: 100%;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                background-color: $backGroundColorCd;
                i{
                    font-size: 2.5rem;
                    margin-left: 0.8rem;
                }
            }
        }
        .section:active{
            scale: (0.98);
        }
        .section:focus{
            @include backgroundColorGradiente;
        }
    }
}
.close{
    top: 85vh;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10000;
    background-color: $backGroundColor;
    overflow: hidden;
    .containerCdBackGround{
        height: 10rem;
        overflow: none;
        padding: 0;
        .image{
            display: flex;
            position: absolute;
            margin-left: 2rem;
            width: 8rem;
            .img{
                width: 100%;
                border-radius: 50%;
                animation: tocar 11110s infinite;
            }
        }
        .fa-chevron-down{
            display: none;
        }
        .fa-chevron-up{
            display: flex;
            position: absolute;
            right: 0;
            margin-top: 1.5rem;
            margin-right: 1rem;
        }
        .containerControls{
            display: none;
        }
    }
    .containerCdBackGround::after{
        display: none;
    }
    .containerMusics{
        display: none;
    }  
}
@keyframes tocar {
    0%{
        transform: rotate(0) ;

    }100%{
        transform: rotate(3585660deg) ;
    }
}
.sumir{
    display: none;
}
