.navbar{
    width: 100vw;
    @include backgroundColorGradiente;
    position: fixed;
    bottom: 0;
    z-index: 10000000000;

    .items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .item-link{
            width: 25%;
            li{
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                color: rgb(170, 170, 170);
                i{
                    margin-bottom: 0.5rem;
                    font-size: 2.5rem;
                    color: rgb(170, 170, 170);
                }
            }
            .active{
                color: #ffffff;
            }
        }
        
    }
}
